.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e7e7;
  color: #666;
  padding: 14px 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
